@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #ffffffb8;
  font-weight: 500;
}

body {
  font-family: "Playfair Display", serif;
}

[placeholder] {
  font-family: monospace;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

@-webkit-keyframes upndown {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
}

@keyframes upndown {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
}

.header {
  width: 100%;
  min-height: calc(100vh + 5em);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.35)), to(rgba(0, 0, 0, 0.35))), url("../../public/hero.jpg") no-repeat center center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("../../public/hero.jpg") no-repeat center center/cover;
  position: relative;
  z-index: 1;
}

.header__scroll-down {
  width: 2em;
  height: 3em;
  border: 0.15em solid rgba(225, 225, 225, 0.65);
  position: relative;
  border-radius: 0.5em;
  top: 35em;
  left: 50%;
}

.header__scroll-down::after {
  position: absolute;
  bottom: 10%;
  left: 35%;
  background: transparent;
  border: 0.1em solid white;
  width: 0.5em;
  height: 0.5em;
  content: "";
  border-radius: 0.5em;
  -webkit-animation: upndown 0.5s linear infinite alternate;
          animation: upndown 0.5s linear infinite alternate;
}

.header__slogan {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-items: center;
  gap: 2em;
}

.header__slogan__text {
  color: white;
  text-transform: uppercase;
  font-size: clamp(2.5em, 8vw, 7.5em);
  font-family: "Playfair Display", serif;
  font-weight: 400;
  text-shadow: 0 0 0.1em black;
}

.header__slogan__button {
  outline: none;
  font-size: inherit;
  padding: 0.3em 1.5em;
  background: #eadedb;
  border-radius: 0.5em;
  border: none;
  color: rgba(0, 0, 0, 0.794);
  font-size: clamp(1em, 1.7vw, 3em);
}

nav {
  min-height: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5em 0.5em;
  width: clamp(80vw, 40em, 95vw);
  margin: 0 auto;
  font-size: clamp(0.85em, 1.5vw, 1.1em);
  font-family: "Playfair Display", serif;
}

@media (max-width: 768px) {
  .navbar-wrapper {
    position: fixed;
    top: 0;
    z-index: 999;
  }
}

.navbar-wrapper .navbar-banner {
  font-size: clamp(1.25em, 2vw, 2.3em);
  text-shadow: 0 0 0.1em black;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  color: #ffffffd3;
}

.navbar-wrapper .desktop-navigation {
  display: none;
  gap: 1em;
  text-shadow: 0 0 0.1em black;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (min-width: 768px) {
  .navbar-wrapper .desktop-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.navbar-wrapper .desktop-navigation a {
  text-transform: lowercase;
  position: relative;
  cursor: pointer;
  color: #ffffffd3;
  text-decoration: none;
}

.navbar-wrapper .desktop-navigation a::after {
  content: "";
  position: absolute;
  background: #ffffffd3 !important;
  width: 0%;
  height: 0.15em;
  bottom: -0.25em;
  left: 0;
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
}

.navbar-wrapper .desktop-navigation a:hover::after {
  width: 100%;
}

.burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.25em;
  z-index: 3;
}

@media (min-width: 768px) {
  .burger {
    display: none;
  }
}

.burger .bar {
  width: 2.5em;
  height: 0.25em;
  background: #ffffffd3;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.mobile-navigation {
  top: 0;
  left: 0;
  position: fixed;
  background-color: #55474e;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  z-index: 2;
  place-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-navigation a {
  text-decoration: none;
}

.open-mobile {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.open-burger :nth-child(1) {
  -webkit-transform: rotate(40deg) translate(0.1em, 0.5em);
          transform: rotate(40deg) translate(0.1em, 0.5em);
}

.open-burger :nth-child(2) {
  opacity: 0;
}

.open-burger :nth-child(3) {
  -webkit-transform: rotate(-40deg) translate(0.1em, -0.7em);
          transform: rotate(-40deg) translate(0.1em, -0.7em);
}

.booklist-wrapper {
  background: #968580;
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-items: start center;
  gap: 5em;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  color: white;
  padding: 5em 0;
}

.booklist-wrapper .booklist-heading {
  font-size: clamp(2.5em, 4vw, 5.5em);
  text-align: center;
  color: white;
}

.booklist {
  width: clamp(80vw, 40em, 95vw);
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  gap: 2em;
  place-items: start center;
  -ms-grid-columns: (minmax(20em, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
}

.booklist__card {
  -webkit-box-shadow: 0.1em 0.1em 0.25em rgba(0, 0, 0, 0.35);
          box-shadow: 0.1em 0.1em 0.25em rgba(0, 0, 0, 0.35);
  border-radius: 0.3em;
  width: 100%;
  min-height: calc(30em + 3vh);
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-items: center;
  gap: 1em;
  text-align: center;
}

.booklist__card img {
  height: 15em;
  max-width: 100%;
  -webkit-filter: drop-shadow(0.1em 0.1em 0.2em #000);
          filter: drop-shadow(0.1em 0.1em 0.2em #000);
}

.booklist__card a {
  text-transform: lowercase;
  text-decoration: none;
  font-size: clamp(1em, 1.5vw, 2em);
  cursor: pointer;
  padding: 0.5em 0.75em;
  background: #3a2e39;
  color: white;
  border-radius: 0.25em;
  -webkit-box-shadow: 0.1em 0.1em 0.1em #3a2e39;
          box-shadow: 0.1em 0.1em 0.1em #3a2e39;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.booklist__card a:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.show-catalog {
  height: 50vh;
  padding: 2rem 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.9)), color-stop(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.9))), url(../../assets/show-catalog-image.jpg) center;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url(../../assets/show-catalog-image.jpg) center;
  background-size: cover;
}

.show-catalog-container {
  height: 80%;
  width: 100%;
  margin: auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.show-catalog-container h1 {
  font-size: clamp(1.5rem, 5vw, 3.5rem);
  text-align: center;
}

.show-catalog-container button {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: #f7ebebd7;
  width: clamp(7rem, 30%, 12rem);
  height: 3rem;
  color: #ffffffb8;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  color: #070505;
  font-size: clamp(0.8rem, 3vw, 1rem);
}

.show-catalog-container button:focus {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
          box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

.show-catalog-container button:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 2px 8px 8px -5px;
          box-shadow: rgba(0, 0, 0, 0.7) 2px 8px 8px -5px;
  -webkit-transform: translate3d(0, 1px, 0);
          transform: translate3d(0, 1px, 0);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.show-catalog-container button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.newsletter {
  height: 50vh;
  padding: 2rem 0.5rem;
  background-color: #968580;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.newsletter-container {
  height: 100%;
  width: 100%;
  margin: auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.newsletter-container h1 {
  font-size: clamp(1.5rem, 5vw, 3rem);
  text-align: center;
}

.newsletter-container .sign-in-form {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.newsletter-container .sign-in-form .form-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newsletter-container .sign-in-form .form-container input {
  width: clamp(250px, 30%, 350px);
  outline: none;
  background: none;
  border: none;
  border-bottom: 1px solid #ffffffb8;
  color: #ffffffb8;
  line-height: 30px;
  margin-right: 2rem;
}

.newsletter-container .sign-in-form .form-container input::-webkit-input-placeholder {
  color: #ffffffb8;
  font-size: clamp(0.7rem, 3vw, 0.9rem);
}

.newsletter-container .sign-in-form .form-container input:-ms-input-placeholder {
  color: #ffffffb8;
  font-size: clamp(0.7rem, 3vw, 0.9rem);
}

.newsletter-container .sign-in-form .form-container input::-ms-input-placeholder {
  color: #ffffffb8;
  font-size: clamp(0.7rem, 3vw, 0.9rem);
}

.newsletter-container .sign-in-form .form-container input::placeholder {
  color: #ffffffb8;
  font-size: clamp(0.7rem, 3vw, 0.9rem);
}

.newsletter-container .sign-in-form .form-container [placeholder]::-webkit-input-placeholder {
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.newsletter-container .sign-in-form .form-container [placeholder]:focus::-webkit-input-placeholder {
  color: transparent;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.newsletter-container .sign-in-form .form-container button {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: #3a2e39;
  width: clamp(3.5rem, 30%, 7rem);
  height: 2.3rem;
  color: #ffffffb8;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  font-size: clamp(0.6rem, 3vw, 0.9rem);
}

.newsletter-container .sign-in-form .form-container button:focus {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
          box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

.newsletter-container .sign-in-form .form-container button:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 2px 8px 8px -5px;
          box-shadow: rgba(0, 0, 0, 0.7) 2px 8px 8px -5px;
  -webkit-transform: translate3d(0, 1px, 0);
          transform: translate3d(0, 1px, 0);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.newsletter-container .sign-in-form .form-container button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.newsletter-container .sign-in-form .error-messages {
  margin-top: 1rem;
}

.newsletter-container .sign-in-form .error-messages p {
  color: rgba(37, 3, 3, 0.815);
  font-weight: 900;
  font-size: clamp(0.7rem, 1.5vw, 1.1rem);
}

.newsletter-container .sign-in-form .error-messages h4 {
  color: rgba(5, 116, 23, 0.801);
  font-weight: 800;
  font-size: clamp(0.7rem, 1.5vw, 1.1rem);
}

.footer {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 3rem 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #55474e;
}

.footer-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-container .bookie-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-container .bookie-footer h1 {
  font-size: clamp(1.7rem, 3vw, 2.5rem);
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.footer-container .bookie-footer h1:active {
  -webkit-transform: scale(0.925);
          transform: scale(0.925);
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.footer-container .bookie-footer h2 {
  font-size: clamp(1.2rem, 3vw, 1.5rem);
}

.footer-container .contact-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-container .contact-footer h1 {
  font-size: clamp(1.7rem, 3vw, 2.5rem);
  margin-bottom: 3rem;
}

.footer-container .contact-footer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: clamp(200px, 20vw, 400px);
}

.footer-container .contact-footer form input,
.footer-container .contact-footer form textarea {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 1rem;
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid #ffffffb8;
  line-height: 30px;
}

.footer-container .contact-footer form textarea {
  height: 10rem;
}

.footer-container .contact-footer form [placeholder]::-webkit-input-placeholder {
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.footer-container .contact-footer form [placeholder]:focus::-webkit-input-placeholder {
  color: transparent;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.footer-container .contact-footer form button {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: #968580;
  width: 35%;
  height: 2.2rem;
  color: #ffffffb8;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  margin: 0 auto;
  font-size: clamp(0.8rem, 1vw, 1rem);
}

.footer-container .contact-footer form button:focus {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
          box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

.footer-container .contact-footer form button:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 2px 8px 8px -5px;
          box-shadow: rgba(0, 0, 0, 0.7) 2px 8px 8px -5px;
  -webkit-transform: translate3d(0, 1px, 0);
          transform: translate3d(0, 1px, 0);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.footer-container .contact-footer form button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.footer-container .contact-footer form p {
  color: rgba(37, 3, 3, 0.815);
  font-weight: 900;
  font-size: clamp(0.7rem, 1.5vw, 1.1rem);
  margin-bottom: 2rem;
}

.footer-container .contact-footer form h4 {
  color: rgba(5, 116, 23, 0.801);
  font-weight: 800;
  font-size: clamp(0.7rem, 1.5vw, 1.1rem);
  margin-top: 2rem;
}

.footer .made-by-footer {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .made-by-footer h1 {
  font-size: clamp(1.5rem, 2.5vw, 2.1rem);
  margin-bottom: 2rem;
  text-align: center;
}

.footer .made-by-footer h1 span {
  font-size: clamp(1.1rem, 2vw, 1.6rem);
}

.footer .made-by-footer .social-icons-footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .made-by-footer .social-icons-footer a {
  text-decoration: none;
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.footer .made-by-footer .social-icons-footer a:active {
  -webkit-transform: scale(0.875);
          transform: scale(0.875);
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.catalog-main {
  background: #968580;
}

.search-form {
  width: clamp(80vw, 40em, 95vw);
  margin: 0 auto;
  padding: 2em 0;
}

.search-form form {
  padding: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
}

.search-form input {
  font-size: clamp(1em, 1.5vw, 2em);
  outline: none;
  background: none;
  border: none;
  -webkit-box-shadow: 0 0.25em 0.1em -0.1em white;
          box-shadow: 0 0.25em 0.1em -0.1em white;
  padding: 0.5em 0.75em;
  color: white;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.search-form input::-webkit-input-placeholder {
  opacity: 1;
}

.search-form input:-ms-input-placeholder {
  opacity: 1;
}

.search-form input::-ms-input-placeholder {
  opacity: 1;
}

.search-form input::placeholder {
  opacity: 1;
}

.search-form input:focus {
  -webkit-box-shadow: 0 0.25em 0.1em -0.1em orange;
          box-shadow: 0 0.25em 0.1em -0.1em orange;
}

.search-form .search-icon {
  outline: none;
  border: none;
  background: url("../../assets/search-icon.png") no-repeat center center/cover;
  padding: 0.5em 0.75em;
  cursor: pointer;
  width: 3em;
  height: 3em;
}

.search-controls {
  width: clamp(80vw, 40em, 95vw);
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5em;
  place-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 1em;
}

.search-controls__left, .search-controls__right {
  outline: none;
  font-size: clamp(0.75em, 1.25vw, 2em);
  padding: 0.5em 0.75em;
  cursor: pointer;
  border: none;
  width: 3em;
  height: 3em;
}

.search-controls__left {
  background: url("../../assets/left-arrow.png") no-repeat center center/cover;
}

.search-controls__right {
  background: url("../../assets/right-arrow.png") no-repeat center center/cover;
}

.about {
  background: -webkit-gradient(linear, left top, left bottom, from(#968580), color-stop(#968580), to(#ffffffb8));
  background: linear-gradient(to bottom, #968580, #968580, #ffffffb8);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.about .introduction {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 70%;
  margin: 5rem auto;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about .introduction h1 {
  font-size: clamp(2rem, 7vw, 5.5rem);
  margin-bottom: 3rem;
  text-align: center;
}

.about .introduction p {
  font-size: clamp(0.9rem, 3vw, 1.5rem);
  text-align: center;
}

.about .vision {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  margin: 5rem 0;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .vision .picture-container {
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .vision .text-container {
  width: 40%;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about .vision .text-container h1 {
  font-size: clamp(1.5rem, 6vw, 4.5rem);
  margin-bottom: 2rem;
  text-align: center;
}

.about .vision .text-container p {
  font-size: clamp(0.85rem, 2vw, 1.3rem);
  text-align: center;
  margin-bottom: 4rem;
}

.blog {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  padding: 2rem;
  background-color: #968580;
}

.blog-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog-container h1 {
  font-size: 6rem;
  margin-bottom: 3rem;
}

.blog-container .search-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 2rem;
}

.blog-container .search-container input {
  width: 300px;
  outline: none;
  border: none;
  border-bottom: 1px solid #ffffffb8;
  background: none;
  line-height: 30px;
}

.blog-container .filter-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 3rem;
  margin-bottom: 4rem;
}

.blog-container .filter-container h2 {
  font-size: 3rem;
  margin-bottom: 3rem;
}

.blog-container .filter-container .btn-container {
  width: 100%;
}

.blog-container .filter-container .btn-container button {
  margin-right: 0.3rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: #55474e;
  width: 100px;
  height: 40px;
  color: #ffffffb8;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.blog-container .filter-container .btn-container button:focus {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
          box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

.blog-container .filter-container .btn-container button:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 2px 8px 8px -5px;
          box-shadow: rgba(0, 0, 0, 0.7) 2px 8px 8px -5px;
  -webkit-transform: translate3d(0, 1px, 0);
          transform: translate3d(0, 1px, 0);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.blog-container .filter-container .btn-container button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.desktop-navigation {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5em 0.5em;
  width: clamp(80vw, 40em, 95vw);
  margin: 0 auto;
  color: white;
  font-size: clamp(0.85em, 1.5vw, 1.1em);
  font-family: "Playfair Display", serif;
}

.desktop-navigation__banner {
  font-size: clamp(1.25em, 2vw, 2.3em);
  text-shadow: 0 0 0.1em black;
  text-transform: uppercase;
  cursor: pointer;
}

.desktop-navigation__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  text-shadow: 0 0 0.1em black;
}

.desktop-navigation__items a {
  text-transform: lowercase;
  position: relative;
  cursor: pointer;
}

.desktop-navigation__items a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 0.15em;
  bottom: -0.25em;
  left: 0;
  background: white;
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
}

.desktop-navigation__items a:hover::after {
  width: 100%;
}

.posts-container {
  width: 100%;
}

.post-container {
  width: 70%;
  margin: 0 auto;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
  border-bottom: 1px solid #55474e;
}

.post-container button {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: #55474e;
  width: 100px;
  height: 40px;
  color: #ffffffb8;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  margin: 1rem 0;
}

.post-container button:focus {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
          box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

.post-container button:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 2px 8px 8px -5px;
          box-shadow: rgba(0, 0, 0, 0.7) 2px 8px 8px -5px;
  -webkit-transform: translate3d(0, 1px, 0);
          transform: translate3d(0, 1px, 0);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.post-container button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.post-container img {
  width: 300px;
  height: 300px;
}

.posters {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 2rem;
}

.posters button {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: #55474e;
  width: 100px;
  height: 40px;
  color: #ffffffb8;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.posters button:focus {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
          box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

.posters button:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 2px 8px 8px -5px;
          box-shadow: rgba(0, 0, 0, 0.7) 2px 8px 8px -5px;
  -webkit-transform: translate3d(0, 1px, 0);
          transform: translate3d(0, 1px, 0);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.posters button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.posters .card {
  width: 60%;
  margin: 0 auto;
  padding: 0.5rem;
  background-color: #968580;
  -webkit-box-shadow: 10px 10px 10px 2px #000;
          box-shadow: 10px 10px 10px 2px #000;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.posters .card img {
  width: 300px;
  height: 400px;
}

.login {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background: #968580;
}

.login-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 70vh;
  width: 100vw;
  padding-top: 2rem;
  padding-bottom: 6rem;
}

.login-container h1 {
  font-size: clamp(0.8rem, 8vw, 4.5rem);
  margin-bottom: 2.5rem;
}

.login-container .login-form {
  width: 60vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login-container .login-form .username-container,
.login-container .login-form .password-container {
  width: clamp(200px, 70%, 450px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.login-container .login-form .username-container input,
.login-container .login-form .password-container input {
  width: 100%;
  margin-left: 1rem;
  outline: none;
  border: none;
  background: none;
  border-bottom: 1px solid #ffffffb8;
  line-height: 30px;
}

.login-container .login-form .username-container input::-webkit-input-placeholder,
.login-container .login-form .password-container input::-webkit-input-placeholder {
  color: #ffffffb8;
  font-size: clamp(0.7rem, 2vw, 0.9rem);
}

.login-container .login-form .username-container input:-ms-input-placeholder,
.login-container .login-form .password-container input:-ms-input-placeholder {
  color: #ffffffb8;
  font-size: clamp(0.7rem, 2vw, 0.9rem);
}

.login-container .login-form .username-container input::-ms-input-placeholder,
.login-container .login-form .password-container input::-ms-input-placeholder {
  color: #ffffffb8;
  font-size: clamp(0.7rem, 2vw, 0.9rem);
}

.login-container .login-form .username-container input::placeholder,
.login-container .login-form .password-container input::placeholder {
  color: #ffffffb8;
  font-size: clamp(0.7rem, 2vw, 0.9rem);
}

.login-container .login-form .username-container [placeholder]::-webkit-input-placeholder,
.login-container .login-form .password-container [placeholder]::-webkit-input-placeholder {
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.login-container .login-form .username-container [placeholder]:focus::-webkit-input-placeholder,
.login-container .login-form .password-container [placeholder]:focus::-webkit-input-placeholder {
  color: transparent;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.login-container .login-form p {
  color: rgba(37, 3, 3, 0.815);
  font-weight: 900;
  font-size: clamp(0.7rem, 1.5vw, 1.1rem);
  margin-bottom: 3rem;
}

.login-container .login-form h4 {
  color: rgba(5, 116, 23, 0.801);
  font-weight: 800;
  font-size: clamp(0.7rem, 1.5vw, 1.1rem);
  margin: 1.5rem 0;
}

.login-container .login-form button {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: #3a2e39;
  width: clamp(4rem, 40%, 7.5rem);
  height: 2.4rem;
  color: #ffffffb8;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  font-size: clamp(0.9rem, 3vw, 1rem);
}

.login-container .login-form button:focus {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
          box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

.login-container .login-form button:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 2px 8px 8px -5px;
          box-shadow: rgba(0, 0, 0, 0.7) 2px 8px 8px -5px;
  -webkit-transform: translate3d(0, 1px, 0);
          transform: translate3d(0, 1px, 0);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.login-container .login-form button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.login-container .no-account {
  padding: 0 1rem;
}

.login-container .no-account p {
  font-size: clamp(0.9rem, 3vw, 1.2rem);
  text-align: center;
}

.register {
  background-color: #968580;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.register-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.register-container h1 {
  font-size: clamp(1.8rem, 7vw, 4.5rem);
  margin-top: 2rem;
}

.register-container .register-form {
  height: 80vh;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.register-container .register-form div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.register-container .register-form div input {
  width: clamp(200px, 50%, 450px);
  margin-left: 0.5rem;
  outline: none;
  background: none;
  border: none;
  border-bottom: 1px solid #ffffffb8;
  line-height: 30px;
}

.register-container .register-form div input::-webkit-input-placeholder {
  color: #ffffffb8;
  font-size: clamp(0.7rem, 2vw, 0.9rem);
}

.register-container .register-form div input:-ms-input-placeholder {
  color: #ffffffb8;
  font-size: clamp(0.7rem, 2vw, 0.9rem);
}

.register-container .register-form div input::-ms-input-placeholder {
  color: #ffffffb8;
  font-size: clamp(0.7rem, 2vw, 0.9rem);
}

.register-container .register-form div input::placeholder {
  color: #ffffffb8;
  font-size: clamp(0.7rem, 2vw, 0.9rem);
}

.register-container .register-form div [placeholder]::-webkit-input-placeholder {
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.register-container .register-form div [placeholder]:focus::-webkit-input-placeholder {
  color: transparent;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.register-container .register-form .name-surname-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.register-container .register-form .name-surname-container input {
  width: clamp(100px, 25%, 220px);
}

.register-container .register-form .name-surname-container .name {
  margin-right: 1rem;
}

.register-container button {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: #3a2e39;
  width: clamp(5.5rem, 30%, 9rem);
  height: 2.5rem;
  color: #ffffffb8;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  font-size: clamp(0.6rem, 2vw, 0.8rem);
}

.register-container button:focus {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
          box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

.register-container button:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 2px 8px 8px -5px;
          box-shadow: rgba(0, 0, 0, 0.7) 2px 8px 8px -5px;
  -webkit-transform: translate3d(0, 1px, 0);
          transform: translate3d(0, 1px, 0);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.register-container button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

@media screen and (max-width: 630px) {
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-container .bookie-footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 5rem;
  }
  .footer-container .contact-footer h1 {
    margin-bottom: 1.5rem;
  }
  .footer-container .contact-footer form {
    width: clamp(170px, 60vw, 250px);
  }
  .footer-container .contact-footer form input,
  .footer-container .contact-footer form textarea {
    width: 100%;
  }
  .footer-container .contact-footer form textarea {
    height: 5rem;
    margin-bottom: 1rem;
  }
  .footer-container .made-by-footer {
    margin-top: 5rem;
    width: 100%;
  }
}

@media screen and (max-width: 630px) {
  .newsletter-container .sign-in-form .form-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .newsletter-container .sign-in-form .form-container input {
    margin-right: 0;
    margin-bottom: 2rem;
  }
  .about .introduction {
    width: 90%;
  }
  .about .vision {
    margin: 3rem 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .vision h1 {
    margin-top: 2rem;
  }
  .about .vision .text-container {
    width: 90%;
    padding: 0;
  }
}
