.about {
	background: linear-gradient(
		to bottom,
		$secondary-background-color,
		$secondary-background-color,
		$primary-text-color
	);
	height: max-content;

	& header {
		height: 50px;
		width: 100%;
		background-color: aqua;
	}

	& .introduction {
		height: max-content;
		width: 70%;
		margin: 3rem auto;
		padding: 2rem;
		@include univerzalni-display(flex, center, center);
		flex-direction: column;
		& h1 {
			font-size: clamp(1.8rem, 7vw, 5.5rem);
			margin-bottom: 3rem;
			text-align: center;
		}
		& p {
			font-size: clamp(0.9rem, 3vw, 1.5rem);
			text-align: center;
		}
	}

	.vision {
		height: max-content;
		width: 100%;
		margin: 10rem 0;
		padding: 2rem;
		@include univerzalni-display(flex, center, center);
		& .picture-container {
			width: 60%;
			@include univerzalni-display(flex, center, center);

			& div {
				background-color: aqua;
				height: 100px;
				width: 100px;
			}
		}
		& .text-container {
			width: 40%;
			padding: 1rem 3rem;
			@include univerzalni-display(flex, space-evenly, center);
			flex-direction: column;

			& h1 {
				font-size: clamp(1.8rem, 6vw, 4.5rem);
				margin-bottom: 3rem;
			}

			& p {
				font-size: clamp(0.9rem, 3vw, 1.3rem);
				text-align: center;
				margin-bottom: 4rem;
			}
		}
	}
}
