.blog {
	height: max-content;
	width: 100%;
	padding: 2rem;
	background-color: $secondary-background-color;

	&-container {
		width: 100%;
		@include univerzalni-display(flex, space-evenly, center);
		flex-direction: column;

		& h1 {
			font-size: 6rem;
			margin-bottom: 3rem;
		}

		& .search-container {
			width: 100%;
			@include univerzalni-display(flex, flex-end, center);
			margin-right: 2rem;

			& input {
				width: 300px;
				outline: none;
				border: none;
				border-bottom: 1px solid $primary-text-color;
				background: none;
				line-height: 30px;
			}
		}

		& .filter-container {
			width: 100%;
			@include univerzalni-display(flex, center, flex-start);
			flex-direction: column;
			padding: 0 3rem;
			margin-bottom: 4rem;

			& h2 {
				font-size: 3rem;
				margin-bottom: 3rem;
			}

			& .btn-container {
				width: 100%;

				& button {
					margin-right: 0.3rem;
					@include button($primary-background-color, 100px, 40px);
				}
			}
		}
	}
}

.desktop-navigation {
	width: 100%;
	// border: 1px solid red;
	display: flex;
	place-items: center;
	justify-content: space-between;
	padding: 1.5em 0.5em;
	width: clamp(80vw, 40em, 95vw);
	margin: 0 auto;
	color: white;
	font-size: clamp(0.85em, 1.5vw, 1.1em);
	font-family: "Playfair Display", serif;
	&__banner {
		font-size: clamp(1.25em, 2vw, 2.3em);
		text-shadow: 0 0 0.1em black;
		text-transform: uppercase;
		cursor: pointer;
	}

	&__items {
		display: flex;
		gap: 1em;
		text-shadow: 0 0 0.1em black;
		a {
			text-transform: lowercase;
			position: relative;
			cursor: pointer;

			&::after {
				content: "";
				position: absolute;
				width: 0%;
				height: 0.15em;
				bottom: -0.25em;
				left: 0;
				background: white;
				transition: width 0.5s ease;
			}

			&:hover {
				&::after {
					width: 100%;
				}
			}
		}
	}
}

.posts-container {
	width: 100%;
}

.post-container {
	width: 70%;
	margin: 0 auto;
	padding: 1rem;
	@include univerzalni-display(flex, space-between, center);
	margin-bottom: 3rem;
	border-bottom: 1px solid $primary-background-color;

	& button {
		@include button($primary-background-color, 100px, 40px);
		margin: 1rem 0;
	}
	& img {
		width: 300px;
		height: 300px;
	}
}

.posters {
	height: max-content;
	padding: 2rem;

	& button {
		@include button($primary-background-color, 100px, 40px);
	}

	& .card {
		width: 60%;
		margin: 0 auto;
		padding: 0.5rem;
		background-color: $secondary-background-color;
		box-shadow: 10px 10px 10px 2px #000;
		border-radius: 10px;
		@include univerzalni-display(flex, space-between, center);
		flex-direction: column;

		& img {
			width: 300px;
			height: 400px;
		}
	}
}
