.login {
	height: max-content;
	background: $secondary-background-color;

	&-container {
		@include univerzalni-display(flex, space-around, center);
		flex-direction: column;
		height: 70vh;
		width: 100vw;
		padding-top: 2rem;
		padding-bottom: 6rem;

		& h1 {
			font-size: clamp(1.8rem, 8vw, 4.5rem);
			margin-bottom: 2.5rem;
		}

		& .login-form {
			width: 60vw;
			@include univerzalni-display(flex, space-evenly, center);
			flex-direction: column;

			& .username-container,
			& .password-container {
				width: clamp(200px, 70%, 450px);
				@include univerzalni-display(flex, center, center);
				margin-bottom: 4rem;

				& input {
					width: 100%;
					margin-left: 1rem;
					outline: none;
					border: none;
					background: none;
					border-bottom: 1px solid $primary-text-color;
					line-height: 30px;

					&::placeholder {
						color: $primary-text-color;
						font-size: clamp(0.7rem, 2vw, 0.9rem);
					}
				}
				& [placeholder]::-webkit-input-placeholder {
					transition: color 0.5s ease;
				}
				& [placeholder]:focus::-webkit-input-placeholder {
					color: transparent;
					transition: color 0.5s ease;
				}
			}
			& button {
				@include button($button-color-2, clamp(4rem, 40%, 7.5rem), 2.4rem);
				font-size: clamp(0.9rem, 3vw, 1rem);
			}
		}

		& .no-account {
			padding: 0 1rem;
			& p {
				font-size: clamp(0.9rem, 3vw, 1.2rem);
				text-align: center;
			}
		}
	}
}
