@include media-mobile {
	.footer-container {
		flex-direction: column;

		& .bookie-footer {
			align-items: center;
			margin-bottom: 5rem;
		}

		& .contact-footer {
			& h1 {
				margin-bottom: 1.5rem;
			}

			& form {
				width: clamp(170px, 60vw, 250px);

				& input,
				& textarea {
					width: 100%;
				}
				& textarea {
					height: 5rem;
					margin-bottom: 1rem;
				}
			}
		}

		& .made-by-footer {
			margin-top: 5rem;
			width: 100%;
		}
	}
}
@include media-mobile {
	.newsletter-container .sign-in-form {
		& .form-container {
			flex-direction: column;

			& input {
				margin-right: 0;
				margin-bottom: 2rem;
			}
		}
	}

	.about {
		& .introduction {
			width: 90%;
		}

		& .vision {
			margin: 3rem 0;
			flex-direction: column;

			& h1 {
				margin-top: 2rem;
			}

			& .text-container {
				width: 90%;
				padding: 0;
			}
		}
	}
}
