@include media-mobile {
	.footer {
		height: fit-content;

		&-container {
			flex-direction: column;
			@include univerzalni-display(flex, space-evenly, center);

			& .bookie-footer {
				margin-bottom: 5rem;
				margin-right: 0;
				text-align: center;
			}

			& .contact-footer {
				& h1 {
					margin-bottom: 1.5rem;
				}

				& form {
					width: clamp(170px, 60vw, 250px);
					& textarea {
						height: 5rem;
						margin-bottom: 1rem;
					}
				}
			}

			& .made-by-footer {
				margin-top: 5rem;
				width: 100%;
			}
		}
	}
}
