@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes upndown {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
}

@keyframes upndown {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
}

.header {
  width: 100%;
  min-height: calc(100vh + 5em);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.35)), to(rgba(0, 0, 0, 0.35))), url("../../public/hero.jpg") no-repeat center center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("../../public/hero.jpg") no-repeat center center/cover;
  position: relative;
}

.header__scroll-down {
  width: 2em;
  height: 3em;
  border: 0.15em solid rgba(225, 225, 225, 0.65);
  position: relative;
  border-radius: 0.5em;
  top: 35em;
  left: 50%;
}

.header__scroll-down::after {
  position: absolute;
  bottom: 10%;
  left: 35%;
  background: transparent;
  border: 0.1em solid white;
  width: 0.5em;
  height: 0.5em;
  content: "";
  border-radius: 0.5em;
  -webkit-animation: upndown 0.5s linear infinite alternate;
          animation: upndown 0.5s linear infinite alternate;
}

.header__slogan {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-items: center;
  gap: 2em;
}

.header__slogan__text {
  color: white;
  text-transform: uppercase;
  font-size: clamp(2.5em, 8vw, 7.5em);
  font-family: "Playfair Display", serif;
  font-weight: 400;
  text-shadow: 0 0 0.1em black;
}

.header__slogan__button {
  outline: none;
  font-size: inherit;
  padding: 0.3em 1.5em;
  background: #eadedb;
  border-radius: 0.5em;
  border: none;
  color: rgba(0, 0, 0, 0.794);
  font-size: clamp(1em, 1.7vw, 3em);
}

.desktop-navigation {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5em 0.5em;
  width: clamp(80vw, 40em, 95vw);
  margin: 0 auto;
  color: white;
  font-size: clamp(0.85em, 1.5vw, 1.1em);
  font-family: "Playfair Display", serif;
}

.desktop-navigation__banner {
  font-size: clamp(1.25em, 2vw, 2.3em);
  text-shadow: 0 0 0.1em black;
  text-transform: uppercase;
  cursor: pointer;
}

.desktop-navigation__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  text-shadow: 0 0 0.1em black;
}

.desktop-navigation__items a {
  text-transform: lowercase;
  position: relative;
  cursor: pointer;
}

.desktop-navigation__items a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 0.15em;
  bottom: -0.25em;
  left: 0;
  background: white;
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
}

.desktop-navigation__items a:hover::after {
  width: 100%;
}

.booklist-wrapper {
  background: #968580;
  width: 100%;
  display: -ms-grid;
  display: grid;
  gap: 5em;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  color: white;
  padding: 5em 0;
}

.booklist-wrapper .booklist-heading {
  font-size: clamp(2.5em, 4vw, 5.5em);
  text-align: center;
  color: white;
}

.booklist {
  width: clamp(80vw, 40em, 95vw);
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  gap: 2em;
  place-items: start center;
  -ms-grid-columns: (minmax(20em, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
}

.booklist__card {
  -webkit-box-shadow: 0.1em 0.1em 0.25em rgba(0, 0, 0, 0.35);
          box-shadow: 0.1em 0.1em 0.25em rgba(0, 0, 0, 0.35);
  border-radius: 0.3em;
  width: 100%;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-items: center;
  gap: 1em;
  text-align: center;
}

.booklist__card img {
  height: 15em;
  max-width: 100%;
  -webkit-filter: drop-shadow(0.1em 0.1em 0.2em #000);
          filter: drop-shadow(0.1em 0.1em 0.2em #000);
}

.booklist__card a {
  text-transform: lowercase;
  text-decoration: none;
  font-size: clamp(1em, 1.5vw, 2em);
  cursor: pointer;
  padding: 0.5em 0.75em;
  background: #3a2e39;
  color: white;
  border-radius: 0.25em;
  -webkit-box-shadow: 0.1em 0.1em 0.1em #3a2e39;
          box-shadow: 0.1em 0.1em 0.1em #3a2e39;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.booklist__card a:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.catalog-main {
  background: #968580;
}

.search-form {
  width: clamp(80vw, 40em, 95vw);
  margin: 0 auto;
  padding: 2em 0;
}

.search-form form {
  padding: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
}

.search-form input {
  font-size: clamp(1em, 1.5vw, 2em);
  outline: none;
  background: none;
  border: none;
  -webkit-box-shadow: 0 0.25em 0.1em -0.1em white;
          box-shadow: 0 0.25em 0.1em -0.1em white;
  padding: 0.5em 0.75em;
  color: white;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.search-form input::-webkit-input-placeholder {
  opacity: 1;
}

.search-form input:-ms-input-placeholder {
  opacity: 1;
}

.search-form input::-ms-input-placeholder {
  opacity: 1;
}

.search-form input::placeholder {
  opacity: 1;
}

.search-form input:focus {
  -webkit-box-shadow: 0 0.25em 0.1em -0.1em orange;
          box-shadow: 0 0.25em 0.1em -0.1em orange;
}

.search-form .search-icon {
  outline: none;
  border: none;
  background: url("../../assets/search-icon.png") no-repeat center center/cover;
  padding: 0.5em 0.75em;
  cursor: pointer;
  width: 3em;
  height: 3em;
}

.search-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  place-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-controls button {
  outline: none;
  font-size: clamp(0.75em, 1.25vw, 2em);
  padding: 0.5em 0.75em;
  cursor: pointer;
}
/*# sourceMappingURL=styles.css.map */